# Build and Release Folders
*.sw*
*.class
*.pyc

twitter4j*
bin/
lib/
lib/*
bin-debug/
bin-release/
twitter4j-3.0.3/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

.DS_Store

client/.classpath

client/.project
